/* Titles Challenges */

.title-block {
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: -20px;
}

.title-article {
    font-size: 25px;
    padding-left: 20px;
    color: #494849;
}

.icon-question {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 21px;
    width: 21px;
    background: url('../img/icon-question.png') no-repeat;
    cursor: pointer;
    transition: 300ms;
}

.icon-question:hover {
    transition: 300ms;
    background: url('../img/icon-question-hover.png') no-repeat;
}

.step-numb {
    background: #bababa;
    font-weight: bold;
    height: 15px;
    max-width: 150px;
    display: block;
    margin: 35px auto 5px;
    padding: 12px 16px;
    color: white;
    border-radius: 110px;
}

.step-numb:first-child {
    margin-top: 0;
}

.info-prolematic {
    background: #dddddd;
    margin: 0 30px 30px 30px;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
}

.illu-chall {
    display: block;
    height: 85px;
    margin: 15px 0;
    opacity: 0.6;
}

.step1 { background: url('../img/step1.gif') no-repeat;     background-position: top center;    background-size: 60%;}
.step2 { height: 130px; background: url('../img/step2.gif') no-repeat;    background-position: top center;   background-size: 60%;}


/* Define bg img */
.challenges { background: url('../img/background-challenges.png') no-repeat;}

.title-bg-left { background-position: left;}
.title-bg-right { background-position: right;}

.title-block h1 { padding: 32px 50px;}

.icon-prob {
    position: absolute;
    vertical-align: middle;
    top: 30px;
    right: 330px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background: url("../img/icon-prob.png") no-repeat;
}


/* Menu Challenges */

.menu-challenges {
    width: 100%;
    height: 110px;
    background-color: #494849;
}

.list-challenges {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0 50px;
}

.list-challenges li {
    display: inline-block;
    vertical-align: top;
    /* Adjust function labels */
    padding: 0 17px;
    list-style: none;
    font-size: 15px;
}

.list-challenges li a {
    display: block;
    height: 100px;
    margin-top: -3px;
    padding-top: 10px;
    color: #e2e2e2;
    transition: 300ms;
}

.list-challenges li a:hover,
{ transition: 300ms; color: white;}

.icon-menu {
    display: block;
    width: 70px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-challenges-separator {
    position: absolute;
    bottom: 25px;
    width: 1px;
    height: 20px;
    background: white;
}

/* Accordion Add style - View accordion.css for bases css */

.question-prob {
    display: inline-block;
    line-height: 22px;
    margin-top: 5px;
    font-size: 20px;
}

.question-prob strong { font-size: 15px;}

.icon-label-accordion {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.ac-container label h1 {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
}

.list-block-article {
    padding: 0 0 55px 68px;
}

.block-article {
    position: relative;
    display: inline-block;
    width: 220px;
    height: auto;
    color: white;
    padding: 15px 26px 15px 45px;
    background: #494849;
    margin: 10px 70px 0px 0;
    border-radius: 5px;
}




/* Define icons menu challenges */

.icon-technos { transition: 300ms; background: url('../img/icon-challenges/icon-technos.png') no-repeat;}
.list-challenges li a:hover  .icon-technos, .icon-technos-hover { transition: 300ms; background: url('../img/icon-challenges/icon-technos-hover.png') no-repeat;}

.icon-product { transition: 300ms; background: url('../img/icon-challenges/icon-product.png') no-repeat;}
.list-challenges li a:hover  .icon-product, .icon-product-hover { transition: 300ms; background: url('../img/icon-challenges/icon-product-hover.png') no-repeat;}

.icon-orga { transition: 300ms; background: url('../img/icon-challenges/icon-orga.png') no-repeat;}
.list-challenges li a:hover  .icon-orga, .icon-orga-hover { transition: 300ms; background: url('../img/icon-challenges/icon-orga-hover.png') no-repeat;}

.icon-strat { transition: 300ms; background: url('../img/icon-challenges/icon-strat.png') no-repeat;}
.list-challenges li a:hover  .icon-strat, .icon-strat-hover{ transition: 300ms; background: url('../img/icon-challenges/icon-strat-hover.png') no-repeat;}

.icon-commerce { transition: 300ms; background: url('../img/icon-challenges/icon-commerce.png') no-repeat;}
.list-challenges li a:hover  .icon-commerce, .icon-commerce-hover  { transition: 300ms; background: url('../img/icon-challenges/icon-commerce-hover.png') no-repeat;}


/* Define icons labels accordion */

.icon-block-article {
    position: absolute;
    left: -25px;
    top: 21%;
    width: 55px;
    height: 56px;
    background: url('../img/icon-article-title.png') no-repeat;
}

/* Technologiques */
.icon-check { background: url('../img/icon-labels-prob/icon-check.png') no-repeat;}
.icon-archi {background: url('../img/icon-labels-prob/icon-archi.png') no-repeat;}
.icon-idea { background: url('../img/icon-labels-prob/icon-idea.png') no-repeat;}

/* Produit */
.icon-evolutive { background: url('../img/icon-labels-prob/icon-evolutive.png') no-repeat;}
.icon-construct { background: url('../img/icon-labels-prob/icon-constuct.png') no-repeat;}
.icon-speed { background: url('../img/icon-labels-prob/icon-speed.png') no-repeat;}

/* Organisation & Ressources */
.icon-conserv { background: url('../img/icon-labels-prob/icon-conserv.png') no-repeat;}
.icon-team { background: url('../img/icon-labels-prob/icon-team.png') no-repeat;}

/* Stratégiques */
.icon-strategie { background: url('../img/icon-labels-prob/icon-strat.png') no-repeat;}
.icon-maitrise { background: url('../img/icon-labels-prob/icon-maitrise.png') no-repeat;}

/* Commerciaux */
.icon-more { background: url('../img/icon-labels-prob/icon-more.png') no-repeat;}
.icon-change { background: url('../img/icon-labels-prob/icon-change.png') no-repeat;}

/* Form */

.popup-content {
    margin: 0 !important;
}

.form-mail label {
    margin: 10px 0;
}

label input {
    height: 19px;
}

.label-form {
    padding: 5px 10px;
    background: #494849;
    font-size: 12px;
    color: white;
}