/* CSS : For home slideshow */

#slideshow {
	width:930px;
	height:387px;
	position:relative;
	margin: 0 auto;
}

/*
	Slideshow
*/

#slides {
	z-index:100;
	margin: 0 auto;
	background: url('../img/background_slide.png') no-repeat;
	height: 382px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:852px;
	overflow:hidden;
	position:relative;
	display:none;
	margin: 0 auto;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:852px;
	height:320px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:151px;
	left:2px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	opacity: 0.5;
}

#slides .next {
	left:903px;
}

#slides .next:hover,#slides .prev:hover {
	opacity: 1;	
}

/*
	Pagination
*/

.pagination {
	margin: 0 auto;
	display: block;
	padding: 0;
	height: 15px;
    width: 78px;
}

.pagination li {
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:19px;
	height:0;
	padding-top:15px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -16px;
	padding-top:18px;
	margin-top: -1px;
}