/* CSS Document */

/* ----------------------------- */
/* ---- References globales ---- */
/* ----------------------------- */

.reference {
	height: 310px;
	margin: 0 0 0 8px;	
	background: url('../img/background_references2.png') no-repeat;
}

.reference-abstract {
	width: 430px;
	height: 100%;
	float: left;
	margin-left: 30px;
}

.reference-abstract .reference-title {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #ED1C24;
	margin: 25px 0 0 0;
}

.reference-abstract .reference-title .mention {
	font-size: 16px;	
	font-style: italic;
}

.reference-abstract .reference-subtitle {
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #ED1C24;
	margin: 6px 0 0 20px;	
}

.reference-abstract .reference-text {
	margin: 6px 0 0 40px;
	text-align: justify;
}

.reference-image {
	width: 335px;
	float: right;
	padding-top: 45px;
	padding-right: 10px;
}

.type-ref .medium-content {
	padding: 0;	
}

/* -------------------------- */
/* ---- Fiche Références ---- */
/* -------------------------- */

.header-ref-img {
	display: block;
	margin: 0 auto 0;	
}

.header-ref-detail .reference-abstract {
	position: absolute;
	right: 10px;
	top: 0px;
}

.info-techno {
	float: right; 
	margin-right: 44px;
}

.screen-info-techno {
	float: left;	 
	margin-left: 44px;
	text-align: center;
}

.screen-ref {
    display: inline-block;
	margin-top: 5px;
}

/*.ie7 .screen-ref {
	float: left;	
}
*/

.text-ref {
	width: 370px;
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	margin-right: 15px;
	text-align: justify;
}

.ie7 .text-ref {
	float: left;	
}

.text-ref ul {
	margin-left: 21px;
}

.info-techno .text-ref {
	width: 356px;
}

.info-techno .text-ref ul {
	margin-left: 10px;
    margin-right: 20px;
}

.logo-techno-list {
	list-style-type: none;
	margin: 8px auto 20px;
	text-align: center;
}

.logo-techno {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
}

.ie7 .logo-techno {
	float: left;	
}

/* ----------------------------------- */
/* ---- References isytopes style ---- */
/* ----------------------------------- */

.options-bloc {
	display: inline-block;	
	margin-right: 15px;
}

.options-bloc:last-child {
	margin-right: 0;	
}

#options li a.selected {
    background: url(../img/ref/item_filter_selected.png) no-repeat 50% 50%;
}


#references-container {
  padding: 5px;
  margin: 0 auto 20px;
}

.element {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
}

/* Element's size */
.element.size1 { width: 110px; height: 110px;}
.element.size2H { width: 230px; height: 110px;}
.element.size2V { width: 110px; height: 230px;}
.element.size4 {  width: 230px; height: 230px;}
.element.size8 { width: 470px; height: 230px;}

/* Discover elements */
.element.size1.discover { background: url(../img/ref/discover_size_1.png) no-repeat;}
.element.size2H.discover  { background: url(../img/ref/discover_size_2H.png) no-repeat;}
.element.size2V.discover { background: url(../img/ref/discover_size_2V.png) no-repeat;}
.element.size4.discover {  background: url(../img/ref/discover_size_4.png) no-repeat;}
.element.size8.discover { background: url(../img/ref/discover_size_8.png) no-repeat;}

/* Design elements */
.element.size1.design { background: url(../img/ref/design_size_1.png) no-repeat;}
.element.size2H.design { background: url(../img/ref/design_size_2H.png) no-repeat;}
.element.size2V.design { background: url(../img/ref/design_size_2V.png) no-repeat;}
.element.size4.design {  background: url(../img/ref/design_size_4.png) no-repeat;}
.element.size8.design { background: url(../img/ref/design_size_8.png) no-repeat;}

/* Develop elements */
.element.size1.develop { background: url(../img/ref/develop_size_1.png) no-repeat;}
.element.size2H.develop { background: url(../img/ref/develop_size_2H.png) no-repeat;}
.element.size2V.develop { background: url(../img/ref/develop_size_2V.png) no-repeat;}
.element.size4.develop {  background: url(../img/ref/develop_size_4.png) no-repeat;}
.element.size8.develop { background: url(../img/ref/develop_size_8.png) no-repeat;}

/* Deploy elements */
.element.size1.deploy { background: url(../img/ref/deploy_size_1.png) no-repeat;}
.element.size2H.deploy { background: url(../img/ref/deploy_size_2H.png) no-repeat;}
.element.size2V.deploy { background: url(../img/ref/deploy_size_2V.png) no-repeat;}
.element.size4.deploy {  background: url(../img/ref/deploy_size_4.png) no-repeat;}
.element.size8.deploy { background: url(../img/ref/deploy_size_8.png) no-repeat;}


.ref-title {
	position: relative !important;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	/*margin: 10px;*/
	line-height: 24px;
}


.ref-subtitle {
	position: relative !important;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 20px
}

a .ref-title,
a .ref-subtitle {
    color: #ED1C24;
}
.centerable {
	display: inline-block;
	top: 50%;
	left: 50%;	
}

.size2H .ref-title {
    margin-left: 20px;
    margin-top: 15px;
}

.size2H .ref-subtitle {
    margin-left: 20px;
    font-size: 12px;
}

.size4 .ref-title {
	margin-top: 15px;
	margin-left: 15px;
}

.size4 .ref-subtitle {
	margin-top: 8px;
	margin-left: 17px;
	margin-right: 10px;
    margin-bottom: 5px;
}

.size4 .ref-desc {
	margin-left: 20px;
    margin-right: 20px;
}

.size8 .ref-title {
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 8px;
}

.size8 .ref-subtitle {
	margin-left: 20px;
	margin-right: 10px;
    margin-bottom: 5px;
}

.size8 .ref-desc, .size8 .ref-desc {
	margin-left: 20px;
	width: 240px;
	color: #222;
    font-size: 12px;
}

.size8 .ref-screen {
	left: 290px;
	top: 100px;
}

.logo-ref-galerie {
    margin-top: 15px;
    margin-right: 3px;
}