/* CSS Document : Creation des trois tailles de blocs*/

/* --- SMALL --- */
.small-bloc {
	position: relative;
	width: 425px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.small-bloc .small-content { 
	background: url('../img/background_small_bloc.png') repeat-y;
 	padding: 20px 21px 20px 19px;
}

.small-bloc .small-bottom { 
	background: url('../img/bottom_small_bloc.png')	 no-repeat; 
	height: 6px;
}

/* --- MEDIUM --- */
.medium-bloc {
	position: relative;
	width: 866px;	
	margin: 8px auto 8px;
	/*min-height: 320px; */	
}

.medium-bloc .medium-content {
        position: relative;
	background: url('../img/background_medium_bloc.png') repeat-y;	
	/*min-height: 310px;*/
	padding: 20px 5px;
}

.medium-bottom { 
	background: url('../img/bottom_medium_bloc.png') no-repeat; 
	height: 10px;
}

/* Utilisé uniquement dans les popup de la page services */

.medium-top{ 
	background: url('../img/top_medium_bloc.png') no-repeat; 
	height: 10px;
}


/* --- LARGE --- */
.large-bloc {
	position: relative;
	width: 930px;	
	margin: 8px auto 8px;
}

.large-bloc .large-content {
	position: relative;
	background: url('../img/background_large_bloc.png') repeat-y;	
	padding: 20px 20px 20px 18px;
}

.large-bottom { 
	background: url('../img/bottom_large_bloc.png')	 no-repeat; 
	height: 8px;
}

.del-pdf {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.del-pdf li {
    display: inline-block;
    margin-right: 15px;
}

.del-pdf h2 {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
