.small-caps-button {
	text-transform: uppercase;
	font-size: 13px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .small-caps-button {
        line-height: 25px;
    }
}

.small-caps-ref-title {
	text-transform: uppercase;
	font-size: 18px;		
}

.small-caps-contact {
	text-transform: uppercase;
	font-size: 11px;	
}
.red-text {
	color: #eb272d;	
}
