.jqcloud {
  font-family: "calibri", "Arial", sans-serif;
  color: #0D0201;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.jqcloud a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.jqcloud a {
  text-decoration: none;
}
.jqcloud a:hover {
  color: #FA3C08;
}

.jqcloud span {
  padding: 0;
}

.jqcloud span.w10 {
  font-size: 300%;
  color: #F11A0F;
}
.jqcloud span.w9 {
  font-size: 280%;
  color: #D9170D;
}
.jqcloud span.w8 {
  font-size: 260%;
  color: #BF140B;
}
.jqcloud span.w7 {
  font-size: 240%;
  color: #A6120A;
}
.jqcloud span.w6 {
  font-size: 220%;
  color: #8C0F08;
}
.jqcloud span.w5 {
  font-size: 200%;
  color: #730C07;
}
.jqcloud span.w4 {
  font-size: 180%;
  color: #590A05;
}
.jqcloud span.w3 {
  font-size: 160%;
  color: #400804;
}
.jqcloud span.w2 {
  font-size: 140%;
  color: #330703;
}
.jqcloud span.w1 {
  font-size: 120%;
  color: #0D0201;
}
