@charset "utf-8";
/* CSS : 4SH global style */

html, body {
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #666666;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;	
}

#container {
	position: relative;
	width : 955px;
	min-height: 100%;
	background-color: #f5f4f2;
	margin: 0 auto 0;
}

#container #header {
	width: 955px;
	width: 940px !important;
	height: 135px;
	height: 117px !important;
	background-color: #FFFFFF;	
	margin: 0 0 8px 0;
	padding: 18px 0 0 15px;
}

#container #header #h-left {
	width: 45%;
	float: left;
}

#container #header #h-left h1 {
	display: block;
	width: 118px;
	height: 36px;
	background: url('../img/logo_4sh.png') no-repeat;
	margin: 0;
	float: left;
}

#container #header #h-left h1 a {
	display: block;
	width: 118x;
	height: 36px;
	color: #666666;
	text-decoration: none;	
}

#container #header #h-left h1 a span {
	display: none;	
}

#container #header #h-left p#slogan {
	display: inline-block;
	text-transform: uppercase;	
	font-size: 14px;
	font-weight:normal;
	margin: 0 0 0 11px;
	padding: 0;
}

#container #header #h-left p#slogan span {
	display: block;
	text-transform: none;
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	color: #ed1c24;
	margin: 0;
	padding: 0;	
}

#container #header #h-right {
	width: 45%;
	float: right;
}

#container #header #h-right a#syntys {
	display: block;
	width: 116px;
	height: 34px;
	background: url('../img/logo_syntys.png') no-repeat;
	float: right;
	margin: 0 15px 0 0;
	color: #666666;
	text-decoration: none;
}

#container #header #h-right a#syntys span {
	display: none;
}

#container #header #h-right a#fr {
	display: block;
	width: 16px;
	height: 11px;
	background: url('../img/flag_fr.png')	no-repeat;
	color: #666666;
	text-decoration: none;
	float: right;
	margin: 6px 8px 0 0;
}

#container #header #h-right a#fr span {
	display: none;	
}

#container #header #h-right a#uk {
	display: block;
	width: 16px;
	height: 11px;
	background: url('../img/flag_uk.png')	no-repeat;
	color: #666666;
	text-decoration: none;
	float: right;
	margin: 6px 24px 0 0;
}

#container #header #h-right a#uk span {
	display: none;	
}

#container #header hr, #container #content hr, #container #footer hr {
	clear: both;
	visibility: hidden;	
}

#container #header ul#nav {
	list-style-type: none;	
	margin: 45px 0 0 0;
	padding: 0;
}

#container #header ul#nav li {
	display: inline-block;
	margin-right: 30px;
}

#container #header ul#nav li a {
	display: block;
	text-decoration: none;
	color: #666666;	
	font-size: 16px;
	text-align: center;
}

#container #header ul#nav li a span.small-caps {
	text-transform: uppercase;
	font-size: 13px;	
}

#container #header ul#nav li:hover a {
	text-decoration: none;
	color: #ED1C24;	
}

#container #header ul#nav li.accueil { width: 70px; height: 23px;}
#container #header ul#nav li.accueil.active { background: url('../img/button_accueil.png')	no-repeat; }

#container #header ul#nav li.savoir-faire { width: 98px; height: 23px;}
#container #header ul#nav li.savoir-faire.active { background: url('../img/button_savoir_faire.png')	no-repeat; }

#container #header ul#nav li.references { width: 88px; height: 23px;}
#container #header ul#nav li.references.active { background: url('../img/button_references.png')	no-repeat; }

#container #header ul#nav li.contact{ width: 70px; height: 23px;}
#container #header ul#nav li.contact.active { background: url('../img/button_contact.png')	no-repeat; }

#container #header ul#nav li.accueil.active a, 
#container #header ul#nav li.savoir-faire.active a, 
#container #header ul#nav li.references.active a, 
#container #header ul#nav li.contact.active a { color: #FFFFFF;}

/* #container #slideshow { see slideshow.css; } */

#container #content { 
	margin-top: 12px;
	padding-bottom: 71px;
}

#container #content .small-bloc {
	position: relative;
	width: 460px;
}

#container #content .small-bloc#news-twitter {
	height: 310px;	
	margin-left: 8px;
	float: left;
}

#container #content .small-bloc#customers-accounts {
	height: 310px;
	margin-right: 8px;
	float: right;	
}

#container #content .small-bloc .small-content { 
	background: url('../img/background_small_bloc.png') repeat-y;
	padding: 20px 20px 0 20px;
}

#container #content .small-bloc .small-content h2 {
	padding: 0;
	margin: 0 0 0 10px;
	font-size: 18px;	
}

#container #content .small-bloc#news-twitter .small-content h2 {
	margin: 0 0 0 65px;
	display: inline-block;
}

#container #content .small-bloc#news-twitter .small-content iframe.twitter-follow-button {
	position: absolute;
	top: 21px;
	right: 15px;
}

#container #content .small-bloc#news-twitter .small-content, #container #content .small-bloc#customers-accounts .small-content { height: 300px; height: 280px !important; }

#container #content .small-bloc#news-twitter .small-content img#bird-twitter {
	position: absolute;
	top: -10px;
	left: 15px;
}

#container #content .small-bloc .small-bottom { 
	background: url('../img/bottom_small_bloc.png')	 no-repeat; 
	height: 6px;
}


#container #content .medium-bloc {
	position: relative;
	width: 866px;	
	margin: 8px auto 0;
}

#container #content .medium-bloc {
	height: 260px; 	
}

#container #content .medium-bloc .medium-content {
	background: url('../img/background_medium_bloc.png') repeat-y;	
	height: 250px;
}

#container #content .medium-bloc .medium-content .reference {
	height: 100%;
	margin: 0 0 0 8px;	
/*	background: url('../img/background_references.png') no-repeat;*/
}

#container #content .medium-bloc .medium-content .reference .reference-abstract {
	width: 675px;
	height: 100%;
	float: left;
}

#container #content .medium-bloc .medium-content .reference .reference-abstract .reference-title {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #ED1C24;
	margin: 15px 0 0 120px;
}

#container #content .medium-bloc .medium-content .reference .reference-abstract .reference-title .small-caps {
	text-transform: uppercase;
	font-size: 18px;	
}

#container #content .medium-bloc .medium-content .reference .reference-abstract .reference-title .mention {
	font-size: 16px;	
	font-style: italic;
}

#container #content .medium-bloc .medium-content .reference .reference-abstract .reference-subtitle {
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #ED1C24;
	margin: 6px 0 0 140px;	
}

#container #content .medium-bloc .medium-content .reference .reference-abstract .reference-text {
	margin: 6px 0 0 170px;
	text-align: justify;
}

#container #content .medium-bloc .medium-content .reference .reference-image {
	width: 150px;
	height: 100%;
	float: right;
}

#container #content  .medium-bottom { 
	background: url('../img/bottom_medium_bloc.png') no-repeat; 
	height: 10px;
}

#container #content .large-bloc {
	position: relative;
	width: 930px;	
	margin: 0 auto;
}

#container #content .large-bloc#tag-cloud {
	height: 340px; 	
}

#container #content .large-bloc .large-content {
	background: url('../img/background_large_bloc.png') repeat-y;	
}

#container #content .large-bloc#tag-cloud .large-content { height: 330px; }

#container #content .large-bloc#tag-criterion .large-content { padding: 20px; }

#container #content  .large-bottom { 
	background: url('../img/bottom_large_bloc.png')	 no-repeat; 
	height: 8px;
}

#container #content .large-bloc#tag-criterion .large-content table#criterion {
	margin: 0 auto;
}

#container #content .large-bloc#tag-criterion .large-content table#criterion tr td a {
	text-decoration: none;
	color: #666666;
}

#container #content .large-bloc#tag-criterion .large-content table#criterion tr td a:hover {
	text-decoration: none;
	color: #ED1C24;
}

#container #content .large-bloc#tag-criterion .large-content table#criterion tr td a.active {
	text-decoration: underline;
	color: #ED1C24;
}

#container #content .large-bloc#tag-criterion .large-content table#criterion tr td {
	width: 200px;	
}

#container #footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 10px;	
	height: 41px;
}

#container #footer #f-left {
	float: left;
	margin: 0 0 0 15px;
}

#container #footer #f-right {
	float: right;
	margin: 0 15px 0 0;
}

#container #footer ul#f-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#container #footer ul#f-nav li {
	display: inline-block;	
}

#container #footer ul#f-nav li a {
	color: #666666;	
	text-decoration: none;
}

#container #footer ul#f-nav li a:hover {
	color: #ED1C24;
	text-decoration: none;
}